day_032_automate_birthday/vars.py
day_032_automate_birthday/__pycache__/vars.cpython-312.pyc
day_032_automate_birthday/automate_birthday/birthdays.csv
day_032_automate_birthday/automate_birthday/vars2.py
day_032_automate_birthday/automate_birthday/__pycache__/vars2.cpython-312.pyc
day_033_iss_overhead_notifier/vars2.py
day_033_iss_overhead_notifier/__pycache__/vars2.cpython-312.pyc
day_036_stock_alert/values.py
day_036_stock_alert/__pycache__/values.cpython-312.pyc
day_037_habit_tracker/pixela_var.py
day_037_habit_tracker/__pycache__/pixela_var.cpython-312.pyc
day_038_workout_tracker/nutritionix.py
day_038_workout_tracker/personal_data.py
day_038_workout_tracker/sheety.py
day_038_workout_tracker/__pycache__/sheety.cpython-312.pyc
